@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: url('./fondoboke.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mark{
    display: flex;
    justify-content: flex-end;

}
.mark-p{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

h2{
    font-size: 5rem;
    font-weight: bold;
}

.comming-soon{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.countdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.day, .hour, .minute, .second{
    font-size: 3rem;
}

.waiting{
  /*  width: auto;*/
    height: 50vh;
}

.container-data{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
/*
.container-date{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    font-weight: 600;
}*/


.container-rival{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px;
    font-weight: 600;
}

.logovs{
    width: 22px;
    height: 22px;
    margin: 0px; 
    padding: 0px;
    vertical-align: bottom;
}

.match-date{
    /*background-color: #fbcb5b;*/
    background-color: #133b5b;
    color: gold;
    padding: 0px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    opacity: 70%;
}

.tournament{
    /*background-color: #fbcb5b;*/
    background-color: #133b5b;
    color: #FAFAFA;
    padding: 0px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    opacity: 70%;
}



/** Responsive **/
@media only screen and (max-width: 600px) {
    body {
        background-image: url('./bokemobile4.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        color: gold;
    }

    .mark{
        display: flex;
        justify-content: flex-end;
    }
    .mark-p{
        color: #ffdd70;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h2{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .comming-soon{
        color:#000;
    }

    h3{
        font-size: 14px;
    }

    .day, .hour, .minute, .second{
        font-size: 14px;
        font-weight: bold;
    }

  /*  .container-date{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 7px;
    }*/

    .container-rival{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 7px;
    }

    .logovs{
        width: 18px;
        height: 18px;
        margin: 0px; 
        padding: 0px;
        vertical-align: bottom;
    }
  }

  @media only screen and (max-width: 375px) {
    .comming-soon{
        margin-right: 15px;
    }
    h2{
        font-size: 1.2rem;
    }

    .day, .hour, .minute, .second{
        font-size: 11px;
    }

    .container-rival{
        font-size: 10px;
        margin: 5px;
    }
  }